.main-contect {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-sec {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

}

.notes-content {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.archiv-content {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.trash-content {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.note-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-dark);
    width: 450px;
    height: 200px;
    border-radius: 10px;
    word-break: break-all;
}

.note-icn {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* #content {
    background-color: var(--background-color-dark);
    width: 250px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#archiv_content {
    background-color: var(--background-color-dark);
    width: 250px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}


#trash_content {
    background-color: var(--background-color-dark);
    width: 250px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
} */