/* hier standard elemnte */
:root {
    --background-color-light: rgb(142, 122, 98);
    --background-color-dark: rgb(105, 93, 77);
}

*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}


body{
    background-color: var(--background-color-light);
}


a {
    text-decoration: none;
}